#box{
    background-color: #156508;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    padding: 12px;
}
.abc
{
    background-color: #631515;
    font-size: 22px;
    color: wheat;
    padding: 10px;
}