#box{
    background-color: #156508;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    padding: 12px;
}
.abc
{
    background-color: #631515;
    font-size: 22px;
    color: wheat;
    padding: 10px;
}
input {
    padding: 10px;
    width:250px;
    margin:10px 5px;
    border-radius: 5px;
}

button{
    background-color: #1e1e60;
    color: white;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    margin:10px 5px;
    cursor: pointer;
}

